*{
	margin: 0;
	padding:0;
	box-sizing:  border-box;
}
body{
    font-family: 'poppins',sans-serif;
}
/*---------navbar------*/
.container{
    max-width: 1600px;
	margin: auto;
	padding-right: 25px;
}
.navbar{
    display: flex; 
    align-items: center;
	padding: 20px ;
}
nav{
	flex:1;
	text-align:right; 
} 
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display:inline-block;  
	margin-right:20px;
    font-size: 24px;
	color: rgb(0, 0, 0);
	padding: 0 20px;
	margin: 0%;
	font-weight: bolder;
}
/*-----logo-----*/
.col-7{
	display:inline-block; 
}
.col-7 h2{
	color: black;
}

a{
	text-decoration: none;
	color:#555; 
}
p{
	color: #555;
}

.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content:  space-around; 
}
.col-2{
	flex-basis: 50%;
	min-width: 300px;
}
.col-2 img {
	max-width: 100%;
	padding: 60px 0; 
	
}
.col-2 h1{
	font-size:50px;
	line-height: 60px;
	margin: 25px 0;
}
.btn{
	display: inline-block;
	background: #F6B400;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px; 
	transition: background 0.5s;
}
.btn:hover{
	background: #563434;
}
.header{
	background: radial-gradient(#fff,#F6B400); 
}
.header{
    position:relative;
    top: 0; left: 0;right: o;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 2rem 9%;
}
.header .row{
	margin-top: 0px;
}
header .logo{
    background: radial-gradient(#fff,#F6B400);
}
.small-container{
	margin: auto;
	padding-left: 30px;
	padding-right: 30px;
} 
.col-3{
   flex: 1;
   border: 1px solid #666;
   margin: 70px;
   padding: 60px;
   background: #fff;
   transition: 0.3s;
   text-align: center;
   cursor: pointer;
   box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
   border-radius: 35px;
}
.col-3:hover{
	transform: translateY(-15px);
	 transition: transfom.3s;
}
.col-3 p{
	font-size: 12px;
	margin: 12px 0;
	color: #777;
}
.col-3 h3{
	font-weight: 600;
	color: #555;
	font-size: 16px;
}
.col-3 img{
	width: 50px;
	margin-top: 20px;
	border-radius: 50%;
}
/*--------our menu-------*/
.title{
    text-align: center;
	margin: 0 auto 80px;
    position: relative;
    line-height: 30px;
    color: rgb(248, 8, 8);
	letter-spacing: 1px;
	word-spacing: inherit;
	display: flex;
	padding: 50px;
	
}
.title h2 {
	font-size:30px;
	color: black;
}
.title h3{
	font-size:30px;
	color:rgb(255, 175, 2);
}
.col-4 {
    flex: 1;
    border: 1px solid #666;
    margin: 70px;
    padding: 60px;
    background: #fff;
    transition: 0.3s;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
	border-radius: 60px;
	outline: none;
 }
 .col-4:hover{
	 transform: translateY(-15px);
	 transition: transfom.3s;

 }
 .col-4 img{
	width: 300px;
	margin-top: 20px;
	border-radius: 50%;
 }
 h2{
	color:brown;
	font-weight: normal;  
    font-weight: bold;
    padding: 15px;
}
h3{
    text-align: left;
    color: black;
    padding: 15px;
}
.col-4 p{
    text-align: center;
}

.col-4 .icon{
	display: flex

}
.icon h3{
	font-size: 27px;
	color:black;
	text-align: left;
	padding: 50px;


}
 .icon .fa{
	font-size: 35px;
	text-align: right;
	border-radius: 15px;
	line-height:.35em;
	padding: 40px;

}
/*--------offer-------*/
.col-5 h2{
	font-size:50px;
	line-height: 40px;
	margin: 25px 0;
    color: black;
}
.col-5 h3{
	font-size:50px;
	line-height: 20px;
	margin: 25px 0;
    color: rgb(247, 161, 3);

}
.col-5 p{
	padding: 50px;
	margin: 25px 0;


}
.dots{
	display: flex;
	text-align: center;
}
.dot {
	height: 25px;
	width: 25px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	padding: 10px 0;
	margin: 25px 0;
	margin-right: 40px;
  }
  .dot1 .dot{
	  background:brown;

  }
.arrow {
	height: 25px;
	width: 25px;
	background-color: rgb(250, 167, 12);
	display: inline-block;
	padding: 10px 0;
	margin: 25px 0;
	margin-right: 40px;

 }
.col-5 img {
	max-width: 50%;
	float: right;
    padding: 60px 0;  
}
.container-o{
    background-color:#E1EBE6;

}

/*--------mobileapp-------*/
.col-6 h2{
	font-size:50px;
	line-height: 60px;
	margin: 25px 0;
    color: black;
	padding: 150px 0; 

}
.col-6 img {
	max-width: 100%;
	padding: 60px 0; 
    width: 1000px;

}
.col-8 img{
	max-width: 100%;
	width: 300px;
}
.container-m{
    background-color: #F6B400;
	height: 900px;
}
.col-6 .logos{
    float: left;
    background-size:90px 30px;
    width:400px;
    margin-left:0px;
    height:400px;
    display: flex;
    justify-content: left;
    padding: 70px 0; 


}
/*--------footer-------*/
.footer-col-2 h2{
	color: black;
}
.footer-col-2 ul{
	list-style-type: none;
	text-align: center;
	line-height: 40px;

}
.footer-col-3 h2{ 
	color: black;
}
.email{
	display: flex;
}
.email h3{
	background: #F6B400;
	color: #fff;
}
.copyrigt{
	display: flex;
	text-align: justify;
	line-height: 40px;
	padding: 10px;

}



